{% extends 'catalog/base.html' %}

{% block content %}

<div class="col-12 text-center">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body gx-6">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}