{% extends 'catalog/base.html' %}

{% block content %}

<div class="col-6 text-center">
    <form method="post">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body gx-6">

                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}